@import "tailwindcss";

.title {
  text-align: center;
  font-size: xx-large;
}

.pong {
  position: absolute;
  border: 1rem solid;
  height: 75%;
  width: 75%;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.line {
  position: absolute;
  height: 100%;
  width: 0px;
  border: 10px dashed black;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ball {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.player1 {
  height: 20%;
  width: 20px;
  background: black;
  position: absolute;
  left: 0px;
}

.player2 {
  height: 20%;
  width: 20px;
  background: black;
  right: 0px;
  position: absolute;
}