@import "tailwindcss";

.title {
  text-align: center;
  font-size: xx-large;
}

.field {
  position: relative;
  border: 20px solid greenyellow;
  border-right: white;
  border-left: white;
  height: 800px;
  width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

#score1 {
  font-size: 200px;
  position: absolute;
  top: 50%;
  left: 25%;
}

#score2 {
  font-size: 200px;
  position: absolute;
  top: 50%;
  right: 25%;
}

.line {
  position: absolute;
  height: 100%;
  width: 0px;
  border: 10px dashed black;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ball {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  left: 870px;
  top: 370px;
  margin-inline: auto;
}

.player1 {
  height: 100px;
  width: 20px;
  background: black;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.player2 {
  height: 100px;
  width: 20px;
  background: black;
  right: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
}