@import "tailwindcss";

body {
	background-color: #8CE4FF;
}

.header {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 75px;
	color: #FEEE91;
	-webkit-text-stroke: 2px black;
}

.body {
	width: 700px;
	height: 600px;
	border: solid 3px black;
	border-radius: 20px;
	margin-right: auto;
	margin-left: auto;
	top: 100px;
	background-color: #FEEE91;
}

.message {
	position: relative;
	border: solid 2px black;
	border-radius: 10px;
	width: 400px;
	height: 50px;
	background-color: white;
}

#p1 {
	position: relative;
	top: 70%;
	left: 5%;
}

#p2 {
	position: relative;
	float: right;
	right: 10%;
}

#tosend {
	position: relative;
	top: 75%;
	text-align: center;
}

.send {
	position: absolute;
	height: 50px;
	width: 80px;
	right: 20%;
	border-radius: 10px;
	border: solid 2px black;
	background-color: #FF5656;
	font-family: 'Montserrat', sans-serif;
}

.player, .opponent {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	font-size: large;
}
