@import "tailwindcss";

body {
	background-color: #8CE4FF;
}

.header {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 75px;
	color: #FEEE91;
	-webkit-text-stroke: 2px black;
}

.body {
	width: 1200px;
	height: 600px;
	border: solid 3px black;
	border-radius: 20px;
	margin-right: auto;
	margin-left: auto;
	top: 100px;
	background-color: #FEEE91;
}

.message {
	position: absolute;
	border: solid 2px black;
	border-radius: 3px;
	width: 600px;
	height: 50px;
	top: 650px;
	left: 150px;
	background-color: white;
}

.send {
	position: absolute;
	top: 650px;
	left: 760px;
	height: 50px;
	width: 80px;
	border-radius: 3px;
	border: solid 2px black;
	background-color: red;
	font-family: 'Montserrat', sans-serif;
}

.player, .opponent {
	font-family: 'Montserrat', sans-serif;
	position: relative;
}
