@import "tailwindcss";

body {
    background-color: #8CE4FF;
}

#error {
    position: relative;
    text-align: center;
    top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 900;
    color: red;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

#meme {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 150px;
}