@import "tailwindcss";

.header {
	position: relative;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
    top: 25px;
	font-size: 100px;
    color: #FEEE91;
    -webkit-text-stroke: 2px rgb(0, 0, 0);

}

.menu {
	position: relative;
	text-align: center;
}

.play, .signin, .signup {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	border: solid 2px black;
	width: 400px;
	color: white;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
	margin-bottom: 30px;
	top: 100px;
	border-radius: 10px;
}

.play {
	background-color: #FEEE91;
}

.signin {
	background-color: #FF5656;
}

.signup {
	background-color: #FFA239;
}

.options {
	position: relative;

	width: 800px;
	height: 1000px;
	border: solid 2px black;
	background-color: black;
	border-radius: 10px;
}
