@import "tailwindcss";

.header, .solo {
	position: relative;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
    top: 25px;
	font-size: 100px;
    color: #FEEE91;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.solo {
	color: #FF5656;
}

.menu, .difficulty {
	position: relative;
	text-align: center;
}

.play, .signin, .signup {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	border: solid 2px black;
	width: 400px;
	color: white;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
	margin-bottom: 30px;
	top: 100px;
	border-radius: 10px;
}

p {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.easy, .normal, .hard, .god {
	position: relative;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	font-size: 50px;
	border: solid 2px black;
	border-radius: 10px;
	color: white;
	margin-bottom: 30px;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
	background-color: #FF5656;
}

.multi, .solo-butt {
	position: relative;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	font-size: 50px;
	border: solid 2px black;
	border-radius: 10px;
	color: white;
}

.solo-butt {
	background-color: #FFA239;
}

.multi {
	background-color: #FF5656;
}

.play {
	background-color: #FEEE91;
}

.signin {
	background-color: #FF5656;
}

.signup {
	background-color: #FFA239;
}

.options {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	bottom: 450px;
	width: 800px;
	height: 700px;
	border: solid 2px black;
	background-color: #FEEE91;
	border-radius: 10px;
}

.optitle {
	color: #FFA239;
}
