@import "tailwindcss";

@keyframes grow {
  0% {
    font-size: 50px;
  }

  50% {
    font-size: 60px;
  }

  100% {
    font-size: 50px;
  }
}

body {
  background-color: #fff7e7;
}

.players {
  position: relative;
  display: flex;
  top: 75px;
  gap: 500px;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

#press {
  font-size: 50px;
  position: relative;
  text-align: center;
  top: 30%;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  z-index: 1;
  color:rgb(255, 21, 21);
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  animation: grow 8s infinite;
}

#name1, #name2 {
  font-size: 50px;
}

#VS {
  font-size: 50px;
  font-style: italic;
  color: #ffe7b7;
  -webkit-text-stroke: 2px black;
}


.title {
  text-align: center;
  font-size: 75px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(184, 217, 255);
  border: solid rgb(0, 0, 0) 2px;
  border-radius: 10px;
  width: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 25px;
  color: rgb(86, 182, 255);
  -webkit-box-shadow: 10px 8px 0px 5px #000000;
  -webkit-text-stroke: 1px black;
  box-shadow: 10px 8px 0px 5px #000000;
}

.field {
  position: relative;
  border: 5px solid black;
  border-right: white;
  border-left: white;
  height: 600px;
  width: 1500px;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#score1 {
  font-size: 200px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 50%;
  left: 25%;
  color: rgb(184, 217, 255);
  -webkit-text-stroke: 1px black;
}

#score2 {
  font-size: 200px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 50%;
  right: 25%;
  color: rgb(86, 182, 255);
  -webkit-text-stroke: 1px black;
}

.line {
  position: absolute;
  height: 100%;
  width: 0px;
  border: 5px dashed black;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ball {
  width: 30px;
  height: 30px;
  background-color: #fff7e7;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  left: 100px;
  top: 0px;
  margin-inline: auto;
}

.player1 {
  height: 100px;
  width: 20px;
  background: rgb(184, 217, 255);
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: 10px;
  border: solid 1px black;
}

.player2 {
  height: 100px;
  width: 20px;
  background: rgb(86, 182, 255);
  right: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  border-radius: 10px;
  border: solid black 1px;
}
