@import "tailwindcss";

body {
    background-color: #8CE4FF;
}

.title {
    position: relative;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    color: #FEEE91;
    font-weight: 700;
    -webkit-text-stroke: 2px black;
}

.square {
    background-color: #FF5656;
    position: relative;
    text-align: center;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    border: solid black 2px;
    margin-left: auto;
    margin-right: auto;
}

input {
    background-color: white;
    position: relative;
    top: 50px;
    border: solid black 1px;
    border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	height: 50px;
	width: 400px;
}

label {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-top: 100px;
    font-weight: 200;
}

input, label {
    position: relative;
    margin: 1rem 0;
}

#button {
    -webkit-text-stroke: 2px black;
    background-color: #FEEE91;
    width: 150px;
    position: relative;
    top: 100px;
    font-weight: 200;
}

#formerruser {
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    top: 50px;
    position: relative;
}

#formerrpass {
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    top: 50px;
    position: relative;
}

